header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
}

header img {
  height: 100%;
  width: 8%;
  top: 14px;
}

nav {
  display: flex;
  gap: 25px;
  align-items: center;
  font-size: 1.1rem;
}

nav a {
  text-decoration: none;
  font-weight: 500;
  color: #333;
}

nav a.active {
  color: #0074b9;
}

.enquiry-btn {
  background: #2c2f74;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0px 8px 21px 0px rgba(0, 116, 185, 0.36);
}
