.carousel-container {
  margin: 80px auto;
  /* max-width: 1200px; */
  padding: 0 20px;
  width: 90%;
}

.carousel-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.carousel-wrapper {
  overflow: hidden;
  flex: 1;
}

.carousel {
  display: flex;
  gap: 30px;
  transition: transform 0.4s ease;
  padding: 20px 0;
}

.card {
  flex: 0 0 calc(25% - 30px);
  aspect-ratio: 1 / 1;
  background: #2c2f74;
  border-radius: 10px;
  padding: 30px 20px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card img {
  height: 100px;
  margin: 0 auto 15px auto;
  object-fit: contain;
}

.arrow {
  background: #2c2f74;
  color: white;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
