.s1 {
  display: flex;
  /* 234.5679931640625 */
  /* align-items: center; */
  justify-content: space-between;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  gap: 0px;
  margin-left: 80px;
}

.s1-text {
  flex: 1;
  max-width: 45%;
  margin-top: 8%;
}

.s1-text h1 {
  font-size: 68px;
  font-weight: 700;
  color: #1b2d5a;
  line-height: 76px;
  margin-bottom: 40px;
  letter-spacing: -5%;
  line-height: 76px;
}

.s1-text p {
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: -2%;
  color: #717171;
  margin-bottom: 25px;
  padding-bottom: 20px;
}

.s1-text .btn {
  background: #1b2d5a;
  color: #fff;
  padding: 12px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

.stats {
  display: flex;
  gap: 60px;
  margin-top: 40px;
  padding-top: 40px;
}

.stat {
  text-align: center;
}

.stat h2 {
  font-size: 32px;
  color: #1b2d5a;
}

.stat p {
  color: #555;
  font-size: 22px;
}

.s1-img {
  flex: 0 0 877px;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 823.85px;
  max-height: 803.64px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-top: 0%;
}

.s1-img img {
  width: 100%;
  height: 100%;
  max-width: 803px;
  object-fit: cover;
}

.stats {
  display: flex;
  justify-content: left;
  gap: 80px;
  margin-top: 40px;
}

.stat {
  text-align: center;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.icon-text img {
  width: 40px;
  height: auto;
}

.icon-text h2 {
  font-size: 1.5rem;
  margin: 0;
  color: #333;
  font-weight: bold;
}

.stat p {
  margin-top: 8px;
  font-size: 1rem;
  color: #777;
}

@media (max-width: 667px) {
  .s1 {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    padding: 20px;
    gap: 20px;
  }

  .s1-text {
    max-width: 100%;
    margin-top: 0;
    text-align: center;
  }

  .s1-text h1 {
    font-size: 8vw;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .s1-text p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }

  .s1-text .btn {
    /* display: inline-block; */
    left: 100px;
    padding: 10px 20px;
    font-size: 15px;
  }

  .s1-img {
    flex: 1;
    width: 100%;
    max-width: 600px;
    height: auto;
    /* margin: 0 auto; */
    margin: -90px 0 0 0;
  }

  .s1-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .stats {
    flex-direction: row;
    gap: max(30px, 50%); /* Adjust gap for  spacing old */
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
  }
  .stats-image {
    width: 60%;
    height: auto;
  }

  .stat {
    text-align: center;
  }

  .icon-text {
    justify-content: center;
  }

  .icon-text img {
    width: 30px;
  }

  .icon-text h2 {
    font-size: 0.9rem;
  }

  .stat p {
    font-size: 0.8rem;
  }
}
