.s5 {
  margin: 80px auto;
  width: 100%;
  background: #fff;
  padding-left: 80px;
  padding-right: 80px;
}

.s5-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.s5-header h2 {
  font-size: 30px;
  font-weight: 700;
  color: #20124d;
}

.s5-row {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.s5-carousel-wrapper {
  overflow: hidden;
  flex: 1;
}

.s5-carousel {
  display: flex;
  gap: 30px;
  transition: transform 0.4s ease;
  padding: 20px 0;
  align-items: stretch;
}

.s5-card {
  flex: 0 0 calc(33.33% - 30px);
  border-radius: 17.19px;
  background: #f1f1f1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
  min-height: 233px;
  min-width: 349px;
  text-align: left;
}

.s5-card img {
  background: #f0f0f0;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 15px;
  width: 100%;
  max-height: 350px;
  object-fit: contain;
}

.s5-card h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #000;
  margin: 0;
  text-align: left;
}

.s5-card p {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -3%;
  color: #555555;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  flex-grow: 0.5;
}

.s5_arrow {
  background: #1b2d5a;
  color: #fff;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s;
  box-shadow: 0 0 0 10px #fff;
}

.s5_arrow:hover {
  background: #2a1b63;
}

.s5_arrow.left {
  position: absolute;
  right: 100%;
}

.s5_arrow.right {
  position: absolute;
  left: 98%;
}
